  .jumbotron-bg-image {
      background-image: url(../assets/software.jpg);
      background-repeat: no-repeat;
      background-size: cover;
  }
  .jumbotron{
    height: 50vh;
  }
  .jumbotro{
        padding: 2rem 1rem;
        margin-bottom: 2rem;
        background-color: #1b2938;
        border-radius: .3rem;
      }
  }
  body{
    color: #94a5b6;
  }
  .success{
      background-image: url(../assets/back2.webp);
  }